{% extends 'news/layout.html' %}
{% load static %}
{% block content %}
{% with object as news %}
<article>
    <img src='{{news.image.url}}'>
    <h2>{{news.title}}</h2>
    <p>{{news.text}}</p>
    <h3>Просмотры: {{ news.views }}</h3><h3>Лайки: <span id="likes">{{ news.get_likes_count }}</span></h3><h3>Дизлайки: <span id="dislikes">{{ news.get_dislikes_count }}</span></h3>
    <ul>{% for tag in news.tags.all %}<li><a href="{{tag.get_absolute_url}}">{{tag.text}}</a></li>{% endfor %}</ul>
    <form method='post' id="reaction-form">
        {% csrf_token %}
        <input type="submit" name="like" value="like">
        <input type="submit" name="like" value="dislike">
    </form>
</article>
{% endwith %}
{% endblock %}
{% block script %}<script src="{% static 'detail.js' %}" async></script>{% endblock %}
